---
title: 摄影作品 | 渭南 · 华山
description: 渭南 · 华山的摄影作品，设备 Canon EOS 700D，镜头 Canon EF-S 18-135mm f/3.5-5.6 IS STM。
date: 2025-12-07
tags: [摄影]
slug: weinan-huashan
---

设备：Canon EOS 700D

镜头：Canon EF-S 18-135mm f/3.5-5.6 IS STM

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/weiNanHuaShan/1.jpg" alt=""/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/weiNanHuaShan/2.jpg" alt=""/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/weiNanHuaShan/3.jpg" alt=""/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/weiNanHuaShan/4.jpg" alt=""/></figure>
