---
title: 摄影作品 | 银川 · 中阿之轴
description: 银川 · 中阿之轴的摄影作品，设备 Canon EOS 700D，镜头 Canon EF-S 18-135mm f/3.5-5.6 IS STM。
date: 2024-03-02
updated: 2025-12-07
tags: [摄影]
slug: yinchuan-zhong-a-axis
---

设备：Canon EOS 700D

镜头：Canon EF-S 18-135mm f/3.5-5.6 IS STM

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/yinChuanZhongA/1.jpg" alt=""/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/yinChuanZhongA/2.jpg" alt=""/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/yinChuanZhongA/3.jpg" alt=""/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/yinChuanZhongA/4.jpg" alt=""/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/yinChuanZhongA/5.jpg" alt=""/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/yinChuanZhongA/6.jpg" alt=""/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/yinChuanZhongA/7.jpg" alt=""/></figure>

<figure class="wp-block-image size-large is-resized"><img src="https://r2.newjie.net/pics/shots/yinChuanZhongA/8.jpg" alt="" style="width:840px;height:auto"/></figure>

<figure class="wp-block-image size-large"><img src="https://r2.newjie.net/pics/shots/yinChuanZhongA/9.jpg" alt=""/></figure>
